@import url('normalize.css');

/* General Demo Style */
body{
	font-family: Arial, Helvetica, sans-serif;
	background: #f9f9f9 url(../images/bg.jpg);
	font-weight: 300;
	font-size: 12.5px;
	color: #0d1549;
	-webkit-font-smoothing: antialiased;
	overflow:auto;
}
a{
	color: #555;
	text-decoration: none;
}
.container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}
.container > header{
	margin: 10px;
	position: relative;
	display: block;	
	padding: 0px 10px 65px;
}
.container > header h1{
	font-size: 32px;
	line-height: 32px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	font-style: italic;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #888;

}
/* Header Style */

.iheight {
   min-height:450px;
    
}

.intro {
    background-color: #FFFFFF;
    border: 1px solid #dfdfdf;
    margin: auto;
    padding: 30px;
    text-align: left;
    width: 1070px;
    
}


.intro1 {
    background-color: #FFFFFF;
    border: 1px solid #008FAF;
    margin: auto;
    padding: 18px;
    text-align: left;
    width: 900px;
}

.intro-head {
    color: #0E91A1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    /**/width: 1005px;
     margin: 13px auto;
}

.logo {
	margin: 0px 10px 10px 10px;
	/*width:300px;*/
	padding:10px;


}
.codrops-top {
    background: none repeat scroll 0 0 #008faf;
    font-size: 11px;
    height: 55px;
    line-height: 24px;
    position: relative;
    z-index: 9999;
}
.codrops-top a{
	padding: 0px 10px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover{
	background: rgba(255,255,255,0.3);
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons Style */
.codrops-demos{
    font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	display: block;
	line-height: 30px;
	padding: 5px 0px;
	background-color:#51a10e;
}
.codrops-demos a {
    border-color: white;
    border-right: 3px none white;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 24px;
    margin: 0 2px;
    padding: 1px 8px;
}

.codrops-demos a:hover{
	color: #000;

}
.codrops-demos a:active{
	background: #000;
}
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover{
	background: #f0f0f0;
	border-color: #d9d9d9;
	color: #aaa;
	box-shadow: 0 1px 1px rgba(255,255,255,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.support-note span{
	color: #ac375d;
	font-size: 16px;
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
}
.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions{
	display: block;
}
#footer { position: fixed; width: 100%; left:0; bottom: 0;}
/*submit button*/
.submitbutton { margin: 5px 0 0 0; background-color: #008FAF; color: white; font-size: 18px; font-family: 'Roboto Condensed', sans-serif; padding: 5px 12px; border-radius: 7px; border: 0px; }
.green { background-color:#CEFFCE; } .red { color:#f00; }
label.error { float: none; color: red; padding-left:16px; vertical-align: top; }

/*datatable*/
div.dataTables_wrapper .ui-widget-header.ui-corner-tl
 { border-top: 0px solid !important;}
.dataTables_wrapper { padding-top: 34px; }
#example_wrapper { padding-top: 0px; }
table.display thead th { color: white; background: #008FAF; font-weight: bold; font-size: 11px; }
tr.even, tr.even td.sorting_1 { background-color: #e4e4e4 !important; }
.dataTables_paginate .first,.dataTables_paginate .previous, .dataTables_paginate .next, .dataTables_paginate .last { background: #008FAF !important; color: white !important; }
.dataTables_info, .dataTables_length , .dataTables_filter label { color: #008FAF !important; }
.fg-toolbar.ui-corner-tl { padding: 0 0 20px !important; border-bottom: 1px solid  #D7D7D7 !important;; }
.fg-toolbar.ui-corner-bl { padding: 20px 0 0 !important; }
.dataTables_filter input{ margin: 0 0 0 9px; }
.dataTables_length select { margin: 0 7px; }
table.display thead th {
	padding: 3px 8px !important; 
border: 1px solid #A5CBF7;
}
table.display td {
	padding: 8px 8px !important; 
border: 1px solid #A5CBF7;
}

#gradelist_wrapper, #frmgrade { width: 75%; margin: 0 auto; }

/*form design*/
.firstlabel { float: left; width: 115px}
.mandatory { display: block !important;  color: #f00; padding: 1px 5px; float: left; }
.edit-head,.login-head { color: #0E91A1; font-family: 'Roboto Condensed', sans-serif; margin: 0 auto; font-size: 21px; }
.login-head { margin:0 auto; width: 403px; }
.loginerror {font-size: 14px; text-align: center; margin: -14px 0 10px;}
.loginform { width: 403px; margin: 0 auto; background-color: white;  }
.loginform .secondinput{ width: 191px; float: left; }
.editform { width: 320px; }
.loginform .firstlabel { width: 86px; }
.loginform label.error{ padding: 0; }
.loginform input[type='text'], .loginform input[type='password']{ width: 192px; }
.loginlist .label{ float: left; }
.loginlist .submitlabel { text-align: right; padding-right: 13px; }
.editlist , .loginlist{ border: 1px solid #dfdfdf; padding: 14px; border-radius: 6px; }
.loginlist { padding: 48px 55px; }
.editform #status2{ float: right; padding: 5px 3px 9px;  }
.editform label.error{ padding: 4px 0px 0px; float: left; }
#status2 {  display: block !important; font-size: 13px; color: green;
padding: 0 0 2px 0px; text-align: left;font-weight: normal !important; }
.deleteform .editlist{ text-align: center; }
.deleteform .editlist #oktodel { margin: 0 15px 0 0; }
input[type='text'], input[type='password'], select { height:25px; padding:1px 4px; width: 166px; border: 1px solid #E6E6E6; }
.editform .reqindicates { float: right; width: 155px; margin: -10px -10px 0px 0; }
.reqindicates { float: right; width: 155px; margin: -10px -10px 0px 0; }
input[type='file'] {  width: 165px; }
textarea { padding:1px 4px; width: 166px;  border: 1px solid #E6E6E6;}
.fields {float: left; }
.label { padding: 0 0 15px }
.top_mandatory { display: block !important;  color: #f00; float: left; }
.success { font-size: 15px; font-weight: bold; color: green;text-align: center;}
#addschool .submitlabel { padding: 0 0 0 111px;}
#assgames .submitbutton{ margin: 29px 0 0; }
.editlist .secondinput{ float: left; width: 165px; }
.editlist .label { padding: 5px 0 2px;
float: left;}

/*bulk upload users*/
.bulk_users label.error{ padding: 5px 0px 0px; float: left; }
tr.uploadusers input { width: 170px;  }
tr.uploadusers label.error { float: left;  }
.temp_down{ float: right; margin: -23px auto; }
.temp_down a {  color: #0E91A1; text-decoration: underline; }
/*new game plan*/
form.newplan { padding-top: 11px; }
.newplan .label { width: 477px; float: left;  }
.newplan .label div.firstlabel{ width: 233px; }
.newplan input[type=text], .newplan select, .editplan input[type=text],  .editplan select{ width: 166px; border: 1px solid #E6E6E6; }
.newplan .secondinput { width:244px; float: left;  }
.newplan label.error { float: left; padding: 5px 0;} 
.newplan .mainlist { width: 100%; float: left; }

.editplan .label .firstlabel{ width:230px; float: left; }
.editplan .mainlist { margin:10px 0 0 0; }
/*generate coupon*/
form.coupon select, form.coupon input[type=text], .pcoupon select,.pcoupon input[type=text]{ width:150px; }
.pcoupon { width: 320px; }

/*Top Menu*/
ul.dropdown-menu li ul div li a { font-size:15px !important; padding: 12px 9px !important; margin:0px !important; }
ul.dropdown-menu li ul div li { padding: 0px !important; margin:0px !important; }
ul.dropdown-menu li ul { padding: 9px 0; }
.menu {
	/*font-family: 'Gochi Hand',cursive;*/
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	display: block;
	line-height: 30px;
	padding: 0px;
	color: white;
	}
.menu  a:hover,.menu  a:focus { background-color:  }
.menu a{color: white;
  	font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 14px;
    margin: 0 2px 0;
    padding: 11px 18px;}
   .current { background-color: rgba(255, 255, 255, 0.3); }
nav li.menu a { background-color: rgba(255, 255, 255, 0.3); color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    font-style: italic;
    line-height: 24px;
    margin: 0 2px 0;
    padding-top: 1px 8px;}
    
#output { color: green; font-size: 15px; font-weight: bold; margin: -18px auto 0; width: 250px;
}
.loginright { float: right; }
.fancy-intro-head { color: #0E91A1;font-family: 'Gochi Hand',cursive; font-size: 28px;text-align: left; }
   div.login { background-color: rgba(255, 255, 255, 0.3); color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    font-style: italic;
    line-height: 24px;
    margin: 0 2px 0;
    padding-top: 1px 8px;}
    
div.login a{color: white; }
.sub_login {padding: 3px;
	margin: 17px 0 0 0;
	background-color: #6CF;
	color: white;
	font-size: 18px;font-family: 'Roboto Condensed', sans-serif;}
