@import 'reset.css';

html {
	background: #ffffff;
}

body {
	width: 460px;
	margin: 0 auto;
	padding: 0 0 40px 0;
	background: #F9F9F9;
	border: 1px solid #A5A5A5;
font-family: Helvetica, Arial;
}

h1 {
	background-color: #FC7600;
	color: #fff;
	font-size: 1.6em;
	padding: 30px 20px 15px 20px;
	margin-bottom: 20px;
}

.head1{

	background-color: #FC7600;
	color: #fff;
	font-size: 18px;
	
	
}
	

#header {
	padding: 0 20px;
}

.body li {
	margin-bottom: 10px ;
}

.body p,
#header p {
	color: #555;
	line-height: 160%;
	margin-bottom: 10px;
}

.body p,
#header small {
	font-size: 10pt;
	color: #777;
	display: block;
	line-height: 140%;
}

.body strong,
#header strong {
	color: #000;
	font-weight: bold;
}

.body a,
#header a {
	color: #444;
}

.body a:hover,
#header a:hover {
	color: #000;
}

form legend {
	color: #333;
	padding: 0 0 20px 0;
	text-transform: uppercase;
}

form {
	padding: 0 20px 20px 20px;
}

form, form fieldset input, form fieldset textarea, form label {
	font-family: Helvetica, Arial;
	font-size: 12pt;
}
form p { position: relative; margin: 10px 0;}
form p label { position: absolute; top: 0; left: 0;}
form p br {display: none;}


form fieldset p input,
form fieldset p textarea {
	display: block;
	padding: 4px;
	width: 400px;
	margin: 0;
}

form fieldset p label {
	width: 380px;
	display: block;
	margin: 5px 5px 5px 6px;
	padding: 0;
}

form fieldset p textarea {
	padding: 2px;
	width: 404px;
}

form fieldset p textarea,
form fieldset p input {
	border: solid 1px #ccc;
}
form fieldset p label {
	color: #777;
}

.body {
	padding: 0 20px;
}

h2 {
	color: #aaa;
	font-size: 15px;
	padding: 30px 0 10px 0 ;
	letter-spacing: -3px;
	font-weight: normal;
}





pre {
	font-size: 10pt;
	font-family: "Courier New";
	background: #000;
	padding: 10px 5px;
	color: #fff;
}

tt {
		font-family: "Courier New";
		font-weight: bold;
		color: #000;
}

.body ul {
	padding: 0 0 10px 20px;
	margin: 0 0 0 20px;
	list-style: disc;
	font-size: 0.8em;
}

.success {
   
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('images/success.png');
}
.warning {

	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/warning.png');
}
.errormsgbox {
 
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/error.png');
	
}