﻿ 

			<div role="main" class="main">

				<section class="page-top">
					<div class="">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><a href="index.php">Home</a> <span class="divider"></span></li>
									<li class="active">FAQ</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>FAQ</h2>
							</div>
						</div>
					</div>
				</section>

				<div class="">

					<h2>Frequently Asked <strong>Questions</strong></h2>

					

					<hr>

					<div class="tabs">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#getting-started" data-toggle="tab"></i> Getting Started</a></li>
									<li><a href="#signing-up" data-toggle="tab">Signing Up</a></li>
									<li><a href="#ready-steady-go" data-toggle="tab">Ready Steady Go</a></li>
									<li><a href="#playing-with-skillangels" data-toggle="tab">Playing With Skill Angels</a></li>
									<li><a href="#renewal" data-toggle="tab">Renewal & Continuous Gaming</a></li>
								</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="getting-started">

							<section class="toggle">
								<input type="checkbox" id="q1">
								<label for="q1">What skills are assessed by Skill Angels ?</label>
								<p>The current package offered to schools and students caters to Cognitive & Life skills.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="q2">
								<label for="q2">For what grades are games available ?</label>
								<p>Games are available from grades K - 8 for the below skill areas<br/>1. Cognitive skills  (Gradewise ) <br/>2. Curriculum skills ( Gradewise Math | EVS ) <br/>3. Life Skills ( Common suite across all grades )</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="q3">
								<label for="q3">Are games different for each grade? How many are there per grade?</label>
								<p>Yes, the games are different across each grades and there are variants incorporated for each game across grades.</p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="q4">
								<label for="q4">How can I get access to the games ?</label>
								<p>Simple ! Games can either be purchased direct from Edsix Brain Labs through the Purchase Now link or by schools in bulk for students. Schools to contact angel@skillangel.com for details regarding registration packages and signup</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="q5">
								<label for="q5">What is available through the demo link ?</label>
								<p> The Demo link provides free access to limited version of games without registration.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="q6">
								<label for="q6">What is available through free trial link ?</label>
								<p>The Free Trial provides access upon registration to a limited version of games for an unlimited period of time.  </p>
							</section>
							</div>
							<div class="tab-pane" id="signing-up">
							<section class="toggle">
								<input type="checkbox" id="s1">
								<label for="s1">What are the various registration packages available ?</label>
								<p>There are various registration packages available for both schools and children. Visit links www.XXXX.com for further details.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="s2">
								<label for="s2">For how long is the subscription valid for</label>
								<p>Each registration package available in xxxx.com comes with a predefined period of validity. Refer to each package to best understand the plans.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="s3">
								<label for="s3">Can i subscribe for more than one grade?</label>
								<p>The number of grades applicable is as per the definition of each registration package. Browse through packages to best find that interests you.</p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="s4">
								<label for="s4">Which payment options do i have?</label>
								<p>Skill Angels supports various online payment options for individual users - Credit Card | Netbanking etc. For schools , payment is required through cheques</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="s5">
								<label for="s5">I have a coupon code. How do i use it?</label>
								<p> Yes, you may use the coupon code for availing exciting discounts for subscription. Apply the coupon code during registration in link xxx.com to avail the coupon discounts.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="s6">
								<label for="s6">Are there any time limits to use the coupon?</label>
								<p>Yes, this depends on the coupon code and the validity details will be as described in the coupon code itself.</p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="s7">
								<label for="s7">"During and after registration, what is the contact number for any technical | operational queries such as <br/>1. Did not receive my activation link <br/>2. Unable to login with user Id and password etc"</label>
								<p>Please forward any concerns to email ID angel@skillangels.com </p>
							</section>
							</div>
							<div class="tab-pane" id="ready-steady-go">

							<section class="toggle">
								<input type="checkbox" id="r1">
								<label for="r1">What should I do if I forget my user ID or password</label>
								<p>Follow the links in the same page as Register | Login to retrieve prior user ID or password details.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="r2">
								<label for="r2">Once I login, what must I expect ?</label>
								<p>"Once logged in, Skill Angels will display <br/>1.  5 Cognitive games ( 1 game for each skill) that can be played by the player upto 5 times. ( Visit link - How it works for further details)  <br/>2. Master set of Life Skill games shall always be available for player to play.  "</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="r3">
								<label for="r3">Why is it that limited games are available for play during each day ?</label>
								<p> Skill angels is conscious of addiction and deploys controlled gaming principles, discouraging players from continuous play.</p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="r4">
								<label for="r4">What is the recommended time frame each day for playing skill angels Cognitive Games ? </label>
								<p>For Schools, Skill Angels recommends upto three 20 minute sessions each week ( A 1-day in-class gaming session & 2 weekend sessions) for effective gaming & cognitive learning experience.</p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="r5">
								<label for="r5">What is the recommended time frame each day for playing skill angels Life Skill Games ?</label>
								<p>The Life Skill games are available for any time play without any restrictions. </p>
							</section>
							</div>
							<div class="tab-pane" id="playing-with-skillangels">

							<section class="toggle">
								<input type="checkbox" id="p1">
								<label for="p1">How is every game scored ?</label>
								<p>Every game has a specific time duration for play & a specific set of questions. Questions answered correctly in a shorter duration of time, will fetch higher marks than answering the questions correctly in longer duration of time. At the end of the time frame for the game or after completion of all questions, whichever is earlier, Skill angels cumulates the score for each game and presents the final score</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="p2">
								<label for="p2">How do i track my performance?</label>
								<p>"Daily and Periodic performance can be viewed by accessing the Reports link of the Skill angels portal. To visualize the daily activity for the player, a calendar demonstrating the per day usage is also displayed"</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="p3">
								<label for="p3">What is BSPI?</label>
								<p>BSPI stands for Brain Skill Power Index -  A measure of Cognitive Brain Skills across 5 core areas : Memory, Focus & Attention, Problem Solving, Visual Processing & Linguistics. </p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="p4">
								<label for="p4">What inference must I draw from my BSPI ?</label>
								<p>The BSPI is an individual score highlighting brain skill areas, well performed and areas that require further training. </p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="p5">
								<label for="p5">Is it possible for me to compare my skills with others?</label>
								<p> Yes, it is possible to validate your BSPI score with the scores of other players in the same package and age group. Choose the right plan that provides this level of benchmarking.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="p6">
								<label for="p6">What can affect my performance</label>
								<p>Frequency of play and Focus during play are critical success factors for the program. Continous gaming enhances neuroplasticity for long lasting improvements & dedication is inherent towards learning any skill. </p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="p7">
								<label for="p7">What will happen if i dont take training for a week?</label>
								<p>Recent discoveries in neurosciences indicate that continuous gaming increases neuroplasticity and enhances abiliity to develop brain skills. Hence, if training does not happen over a period of time, this will hamper the overall brain skill development. </p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="p8">
								<label for="p8">How long before I see progress?</label>
								<p>Atleast a minimum of 6 months play is required to experience progress in brain skil development </p>
							</section>
							<section class="toggle">
								<input type="checkbox" id="p9">
								<label for="p9">"During and after registration, what is the contact number for any technical | operational queries such as <br/>1. Did not receive my activation link <br/>2. Unable to login with user Id and password etc"</label>
								<p>Please forward any concerns to email ID angel@skillangels.com </p>
							</section>
							</div>
							<div class="tab-pane" id="renewal">

							<section class="toggle">
								<input type="checkbox" id="re1">
								<label for="re1">How do I renew subscription?</label>
								<p>Easy ! Contact angel @ Skill angels.com for Renewal of existing package and our consultant will reach out to you.</p>
							</section>

							<section class="toggle">
								<input type="checkbox" id="re2">
								<label for="re2">Will there be any discounts if I continue subscription</label>
								<p>Yes ! Contact angel @ Skill Angels.com for re-subscription and we will work out suitable packages based on student signups.</p>
							</section>

							</div>

						</div>
					
					</div>

				</div>

			</div>

		 
		</div>

		 
