﻿ 
			<div role="main" class="main">

				<section class="page-top">
					<div class="">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><a href="index.php">Home</a> <span class="divider"></span></li>
									<li class="active">Privacy Policy</li>
								</ul>
							</div>
						</div>
						
					</div>
				</section>

				<div class="" style="text-align:justify;">

					<h2><strong>Privacy Policy</strong> </h2>

					<div class="row">
						<div class="span12">
							<div>
								<p>Skill angels is conceived by Edsix Brain Lab Pvt Ltd. ("Edsix Brain Lab Pvt Ltd ", "Company", "we", "us" or "our"), we value your privacy and we ensure we take utmost care with regards to your personal data. Our Privacy Policy is applicable to the treatment of personally identifiable information ("Personal Information") that we gather while you're accessing skillangels.com (the "Site"). This policy is not applicable to individuals and processes that we do not employ control or manage. BY ACCESSING THE SITE, YOU SIGNIFY AND WARRANT THAT YOU HAVE READ AND UNDERSTOOD AND FULLY AGREE TO THE TERMS OF OUR PRIVACY POLICY. IF YOU DO NOT AGREE OR UNDERSTAND THIS PRIVACY POLICY, YOU MUST IMMEDIATELY LEAVE THE SITE.</p>
								<p>We collect information which helps us to customize and adapt our services. We collect different types of information as mentioned below from our customers.</p>
							</div>
								
							<div>
								<p>THESE TERMS AND CONDITIONS IN THE END USER AGREEMENT ARE GOVERNED IN ACCORDANCE WITH THE LAWS OF INDIA. ANY DISPUTE SHALL BE SUBJECT TO THE EXCLUSIVE JURISDICTION OF COURTS IN CHENNAI ONLY.</p>
							</div>
							<div>
								<h5><strong>USER PROVIDED INFORMATION:</strong></h5>
								<p>In order for you to use certain of the Site's Services, you will be asked to provide to us with certain Personal Information. Personal Data includes, without restricting to: (1) "Contacts" (such as your name, company name, mailing address, and e-mail address etc.); (2) "Financials" (such as your account or credit card number etc.); and (3) "Demographics "(such as you pin code age etc.). In every circumstance, you will be required to furnish Personal Information; our Website will not gather it secretly. In any case, you are not obliged to provide Personal data, with the stipulation that your lack of acceptance for the same may stop you from using our Site's Services.</p>
							</div>
							<div>
								<h5><strong>INFORMATION COLLECTED BY US:</strong></h5>
								<p>Certain types of information we may store whenever you are using our Web site or services. The Company automatically obtains and registers information in our server logs from your browser including your IP address, Company cookie information, the page requested, game and training programs data. Our service automatically collects information about usage like the no of visitors to our site; frequency to identify how many users and traffic was seen in our site. We aggregate this data and use it more for statistical analysis and not in a way that will breach your personal identity or information.</p>
							</div>
							<div>
								<h5><strong>COOKIES</strong></h5>
								<p>Similar to many websites, we use cookies and other standard technologies in web to collect information from the end user for our own use. Cookies can termed as be alphanumeric identifiers that gets transferred to your computer's hard drive through your browser to aid our systems to recognize your browser and give us information and metrics about site visits and no of users for our site.</p>
								<p>All popular browsers have an option to turn off the cookie feature, which will prevent your browser from accepting new cookies and also allowing you to customize the acceptance of cookies it is recommend that it is turned on, to fully experience the site and its features. If you choose to turn off the cookies feature, you will assume full responsibility for loss of site functionality as a result.</p>
							</div>
							<div>
								<h5><strong>USAGE OF PERSONAL INFORMATION</strong></h5>
								<p>The information collected from you is used for authenticating your credentials, visits and also send information about our products/services. If you have subscribed to receive marketing information about our products or services, it will be customized for your preferences. The information we collect also is used by us to improve our site, contents, games and training mechanisms. The data collected will be aggregated for us to conduct research in collaboration with external researchers and validate effectiveness of our program from time to time. We assure that at any stage, your personal information is not revealed and is confidential. We may also use your personal . information and collate it with data from outside parties for providing better marketing and services.</p>
							</div>
							<div>
								<h5><strong>THIRD PARTY INFORMATION DISCLOSURE - LIMITED DISCLOSURE</strong></h5>
								<p>We value your personal data and see our customers privacy is kept utmost confidential. Your personal information is not shared to external or third parties for their own direct marketing or usage, the sharing happens only in a manner as explained below. For purpose of providing additional products or services, enhancements we collaborate with outside people, companies to do tasks on our behalf. For example, Payment Gateway vendor to process account, credit card information securely over the web. No information beyond what is needed for us would be captured from our customers. We also disclose Personal Information when required to do so by law, or in response to a court order, or other legal mechanism, or when we believe, in our sole discretion, that disclosure is reasonably necessary to protect the property or rights of the Company, third parties or the public at large. We reserve the right to sell, transfer or otherwise share some or all of our assets, including information provided by you, in connection with a merger, reorganization or sale of some or all of our assets or in the event of bankruptcy. In any such event, personally identifiable and other information may be one of the assets transferred. We will post notice before personal information is transferred and becomes subject to a different privacy policy. You hereby consent to our sharing of Personal Information for the above purposes.</p>
							</div>
							<div>
								<h5><strong>PERSONAL SECURITY</strong></h5>
								<p>We have put in place recommended security protocols and measures in place to prevent unauthorized access, usage and modifications. Our systems have incorporated measures such as SSL encryption, firewalls and antivirus softwares for data protection. These will be updated on a regular basis to ensure the same.</p>
							</div>
							<div>
								<h5><strong>CHOICE PREFERENCE</strong></h5>
								<p>The usage of the site to register and gain access to the site is not mandatory for the user. If the user choses to do the same, all personal data and information will be governed by this privacy policy. You are not required to register to gain access to many areas of the Site. If you use the Site's personalized services, however, we will treat your Personal Information as described in this Privacy Policy.</p>
							</div>
							<div>
								<h5><strong>SKILL ANGELS CHILDREN ONLINE POLICY</strong></h5>
								<p>InEdsix Brian Lab values the importance of safeguarding children's privacy in an online space. Our website and the Software is designed in in a way such that any video, audio or content is children friendly and can be supervised or monitored by the parent. The targeted user group is any individual above 3 years old. We ensure policy of not purposefully collecting, keeping and disclosing information of our users.</p>
							</div>
							<div>
								<h5><strong>THIRD PARTY LINKS</strong></h5>
								<p>Our website may contain links to Third party sites or softwares. We don't own or take responsibility for the content or information provided by them. Please go through carefully for their respective privacy policies.</p>
							</div>
							<div>
								<h5><strong>PRIVACY POLICY CHANGES</strong></h5>
								<p>Our Privacy Policy could be updated now and then as we grow and evolve over a period of time. We will indicate any such changes at the privacy policy link in our home menu. At each point of time, you should ensure that you check the "Last Updated" date of this privacy policy (located at the top), and review any changes since you last accessed the Site. Such changes are effective ten (15) calendar days after the Last Updated date (the date they become effective is the "effective date"). Unless specified otherwise, any revised Privacy Policy will apply only to information collected after the effective date of such revised Privacy Policy, and not to information collected under any earlier Privacy Policy.</p>
							</div>
							<div>
								<h5><strong>QUERIES/CONCERNS</strong></h5>
								<p>Any queries or concerns regarding the privacy policy are welcomed by us. Please email to angel@skillangels.com</p>
							</div>
						</div>
						
					</div>

				</div>

			</div>
			 
		</div>

		 
