﻿ 

			<div role="main" class="main">

				<section class="page-top">
					<div class="">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><a href="index.php">Home</a> <span class="divider"></span></li>
									<li class="active">Terms Of Service</li>
								</ul>
							</div>
						</div>
						
					</div>
				</section>

				<div class="" style="text-align:justify;">

					<h2><strong>Terms Of Service</strong> </h2>

					<div class="row">
						<div class="span12">
						<div>
							<p>The following terms and conditions will be deemed to have been accepted by the User on usage of the website www.skillangels.com. You are requested to read them carefully before you use the services of this site.</p>
						</div>
							<ol type="a">
								<li>The term User shall refer to the user who is browsing the Site. The term Site refers to www.skillangels.com and other websites associated with Edsix, owned and monitored by Edsix.</li>
								<li>By using the Site, you agree to follow and be bound by the following terms and conditions concerning your use of the Site. Edsix may revise the Terms of Use at any time without notice to you. Areas of the Site may have different terms of use posted. If there is a conflict between the Terms of Use and terms of use posted for a specific area of the Site, the latter shall have precedence with respect to your use of that area of the Site. </li>
								<li>All content present on this site is the exclusive property of Edsix. The software, text, images, graphics, video and audio used on this site belong to Edsix. No material from this site may be copied, modified, reproduced, republished, uploaded, transmitted, posted or distributed in any form whatsoever without prior written permission from Edsix. All rights not expressly granted herein are reserved. Unauthorized use of the materials appearing on this site may violate copyright, trademark and other applicable laws, and could result in criminal and/or civil penalties. Edsix is a registered trademark of EdSix Brain Lab Private Ltd,. This trademark may not be used in any manner without prior written consent from EdSix Brain Lab Private Ltd,</li>
								<li>Edsix does not make any warranties, express or implied, including without limitation, those of merchantability and fitness for a particular purpose, with respect to any information, data, statements or products made available on the Site. </li>
								<li>Edsix does not accept any responsibility towards the contents and/or information practices of third party Sites which have links through skill angels Site. The said links to internal or external Website locations are only for the purpose of facilitating your visit or clarify your query. </li>
								<li>The Site, and all content, materials, information, software, products and services provided on the Site, are provided on an "as is" and "as available" basis. Edsix expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose and non-infringement. </li>
								<li>Edsix shall have no responsibility for any damage to a User's computer system or loss of data that results from the download of any content, materials, information from the Site. </li>
								<li>In no event will Edsix be liable for damages of any kind, including without limitation, direct, incidental or consequential damages (including, but not limited to, damages for lost profits, business interruption and loss of programs or information) arising out of the use of or inability to use Edsix Website, or any information provided on the Website, or in the Products any claim attributable to errors, omissions or other inaccuracies in the Product or interpretations thereof. Some jurisdictions do not allow the limitation or exclusion of liability. Accordingly, some of the above limitations may not apply to the User. </li>
								<li>The User agrees to assure, defend and hold Edsix harmless from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, arising out of or relating to any misuse by the User of the content and services provided on the Site. </li>
								<li>The information contained in the Site has been obtained from sources believed to be reliable. Edsix disclaims all warranties as to the accuracy, completeness or adequacy of such information.</li>
								<li>Edsix makes no warranty that: (a) the Site will meet your requirements; (b) the Site will be available on an uninterrupted, timely, secure, or error-free basis; (c) the results that may be obtained from the use of the Site or any services offered through the Site will be accurate or reliable.</li>
								<li>The User's right to privacy is of paramount importance to Edsix. Any information provided by the User will not be shared with any third party. Edsix reserves the right to use the information to provide the User a more personalized online experience.</li>
								<li>The Site provides links to Websites and access to content, products and services from third parties, including users, advertisers, affiliates and sponsors of the Site. You agree that Edsix is not responsible for the availability of, and content provided on, third party Websites. The User is requested to peruse the policies posted by other Websites regarding privacy and other topics before use. Edsix is not responsible for third party content accessible through the Site, including opinions, advice, statements and advertisements and User shall bear all risks associated with the use of such content. Edsix is not responsible for any loss or damage of any sort that a User may incur from dealing with any third party.</li>
							</ol>
							<div>
							<p>THESE TERMS AND CONDITIONS IN THE END USER AGREEMENT ARE GOVERNED IN ACCORDANCE WITH THE LAWS OF INDIA. ANY DISPUTE SHALL BE SUBJECT TO THE EXCLUSIVE JURISDICTION OF COURTS IN CHENNAI ONLY.</p>
							</div>
							<div>
							<h4><strong>General Disclaimer</strong></h4>
							<p>THE DOCUMENTS AND GRAPHICS ON THIS WEBSITE COULD INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. EDSIX MAY MAKE IMPROVEMENTS AND/OR CHANGES HEREIN AT ANY TIME. EDSIX MAKES NO REPRESENTATIONS ABOUT THE ACCURACY OF THE INFORMATION CONTAINED IN THE DOCUMENTS AND GRAPHICS ON THIS WEBSITE FOR ANY PURPOSE. ALL DOCUMENTS AND GRAPHICS ARE PROVIDED "AS IS". EDSIX HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR ANY PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT, EDSIX AND/OR ITS LICENSOR/ SUPPLIER SHALL NOT BE LIABLE TO ANY PARTY FOR ANY DIRECT, INDIRECT, SPECIAL OR OTHER CONSEQUENTIAL DAMAGES FOR ANY USE OF THE SITES, THE INFORMATION, OR ON ANY OTHER HYPERLINKED WEBSITE, INCLUDING, WITHOUT LIMITATION, ANY LOST PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR OTHER DATA ON YOUR INFORMATION HANDLING SYSTEM OR OTHERWISE, EVEN IF EDSIX IS EXPRESSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		 
		</div>

		 
