
#wrapper{
	color:#000000;
	font-family:tahoma;
	font-size:14px;
	margin:0 auto;
	width:800px;
	margin-top:50px;
}

#wrapper a{
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}

.box {   
    color: #888;
	
	left: 25%;
	position: fixed;
	right: 40%;
	top: 21%;
	width: 50.3%;
	z-index: 101;
	 
	border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
	overflow: visible;
}

/*#content img { position: absolute; border-radius: 10px;}*/
.overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
	opacity:0.5;
}

a.boxclose {
	background: url("cancel.png") repeat scroll left top transparent;
	cursor: pointer;
	float: right;
	height: 25px;
	left: 12px;
	position: relative;
	top: -16px;
	width: 26px;
}
